# Ignore virtual environment
.venv/
income-venv/

# Ignore VSCode settings
.vscode/

# Ignore Python cache and compiled files
__pycache__/
*.pyc

# Ignore other directories you don’t want in Git
Lib/
include/
share/

# Ignore Data
data/
mlruns/
best_model/
Notebooks/mlruns/
Notebooks/best_model
